.modLayerMeasure {
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
}

.modLayerMeasure .measure {
    background-color: rgba(132, 207, 0, 0.8);
    position: absolute;
}

.modLayerMeasure .measure:hover {
    background-color: rgba(132, 207, 0, 0.6);
    cursor: auto;
}

.modLayerMeasure .measure.selected {
    z-index: 100;
}

.modLayerMeasure .measure .meta,
.modLayerMeasure .measure-helper .meta {
    font-family: helvetica; 
    font-weight: bold;
    font-size: 12px;
    position: absolute; 
    bottom: -20px; 
    left: 0;
    color: #FFF; 
    text-shadow: 1px 1px 0 #000; 
    background-color: #434343;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(67, 67, 67)), to(rgb(45, 45, 45)));
    background-image: -webkit-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: -moz-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: -o-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: -ms-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#434343', EndColorStr='#2d2d2d');
    padding: 3px 6px;
    white-space: nowrap;
    cursor: pointer;
}

.modLayerMeasure .measure-helper .meta {
    bottom: -21px;
    left: -1px;
}

.modLayerMeasure .measure-helper {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 1);
}

/* handles */
.modLayerMeasure .ui-resizable-handle {
    display: none !important;
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 2px solid rgba(255,255,255,0.8);
}
.modLayerMeasure .ui-resizable-handle:hover {
    background: rgba(0,0,0,0.8);
    border: 2px solid rgba(255,255,255,1);
}

.modLayerMeasure .selected .ui-resizable-handle {
    display: block !important;
}

.modLayerMeasure .ui-resizable-nw {
    left: 0;
    top: 0;
    margin-top: -6px;
    margin-left: -6px;
}

.modLayerMeasure .ui-resizable-n {
    left: 50%;
    top: 0;
    margin-top: -6px;
    margin-left: -6px;
}

.modLayerMeasure .ui-resizable-ne {
    right: 0;
    top: 0;
    margin-top: -6px;
    margin-right: -6px;
}

.modLayerMeasure .ui-resizable-w {
    left: 0;
    top: 50%;
    margin-top: -6px;
    margin-left: -6px;
}

.modLayerMeasure .ui-resizable-e {
    right: 0;
    top: 50%;
    margin-top: -6px;
    margin-right: -6px;
}

.modLayerMeasure .ui-resizable-s {
    left: 50%;
    bottom: 0;
    margin-bottom: -6px;
    margin-left: -6px;
}

.modLayerMeasure .ui-resizable-sw {
    left: 0;
    bottom: 0;
    margin-bottom: -6px;
    margin-left: -6px;
}
.modLayerMeasure .ui-resizable-se {
    right: 0;
    bottom: 0;
    margin-bottom: -6px;
    margin-right: -6px;
}