.modLayerColor {
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
}
.modLayerColor .color {
    color: #FFF; 
    background-color: #434343;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(67, 67, 67)), to(rgb(45, 45, 45)));
    background-image: -webkit-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: -moz-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: -o-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: -ms-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#434343', EndColorStr='#2d2d2d');
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 3px 6px;
    position: absolute;
    display: none;
    white-space: nowrap;
    cursor: auto;
    margin-top: 6px;
    margin-left: -19px;
    font-family: "Lexia W01 Regular", sans-serif;
}
.modLayerColor .color:hover {
    background-color: #434343;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(67, 67, 67)), to(rgb(34, 34, 34)));
    background-image: -webkit-linear-gradient(top, rgb(67, 67, 67), rgb(34, 34, 34));
    background-image: -moz-linear-gradient(top, rgb(67, 67, 67), rgb(34, 34, 34));
    background-image: -o-linear-gradient(top, rgb(67, 67, 67), rgb(34, 34, 34));
    background-image: -ms-linear-gradient(top, rgb(67, 67, 67), rgb(34, 34, 34));
    background-image: linear-gradient(top, rgb(67, 67, 67), rgb(34, 34, 34));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#434343', EndColorStr='#222222');
    z-index: 20;
}
.modLayerColor .color .p {
    width: 26px;
    height: 26px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
}
.modLayerColor .color .meta {
    font-size: 12px;
    display: inline-block;
    padding: 3px 5px;
    height: 24px;
    color: #BBB;
    text-decoration: none;
}
.modLayerColor .color .meta:hover {
    text-decoration: underline;
}
.modLayerColor .color .meta span.hex {
    color: #DDD;
    text-transform: uppercase;
}
.modLayerColor .color:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #434343;
    border-width: 5px;
    left: 19px;
    margin-left: -5px;
}