body {
    font-family: helvetica, arial, sans-serif;
}

strong {
    font-weight: bold;
}

.modLayout {
    background: #FFF;
}

.modLayout .viewport {
    margin: 0 auto;
    width: 1140px;
    padding-top: 250px;
    display: none;
}