.modScreenBrowser {
    margin-left: 270px;
}

.modScreenBrowser .head {
    overflow: hidden;
    border-bottom: 1px solid #DDD;
}

.modScreenBrowser h2 {
    float: left;
    font-family:'Lexia W01 Thin', helvetica, arial, sans-serif;
    font-size: 30px;
    padding: 30px 45px;
    color: #454545;
}
.modScreenBrowser ul {
    padding: 30px;
    padding-right: 0;
}
.modScreenBrowser ul li {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 3px;
    position: relative;
}

.modScreenBrowser ul li img {
    display: block;
}
.modScreenBrowser ul li .image {
    display: block;
    width: 200px;
    height: 160px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    font-size: 13px;
    background-color: #000;
}

.modScreenBrowser ul li .image .info {
    position: absolute;
    bottom: 0;
    background-color: #676868;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(103, 104, 104)), to(rgb(58, 58, 58)));
    background-image: -webkit-linear-gradient(top, rgb(103, 104, 104), rgb(58, 58, 58));
    background-image: -moz-linear-gradient(top, rgb(103, 104, 104), rgb(58, 58, 58));
    background-image: -o-linear-gradient(top, rgb(103, 104, 104), rgb(58, 58, 58));
    background-image: -ms-linear-gradient(top, rgb(103, 104, 104), rgb(58, 58, 58));
    background-image: linear-gradient(top, rgb(103, 104, 104), rgb(58, 58, 58));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#676868', EndColorStr='#3a3a3a');
    
    background-color: #c0c0c0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(192, 192, 192)), to(rgb(161, 161, 161)));
    background-image: -webkit-linear-gradient(top, rgb(192, 192, 192), rgb(161, 161, 161));
    background-image: -moz-linear-gradient(top, rgb(192, 192, 192), rgb(161, 161, 161));
    background-image: -o-linear-gradient(top, rgb(192, 192, 192), rgb(161, 161, 161));
    background-image: -ms-linear-gradient(top, rgb(192, 192, 192), rgb(161, 161, 161));
    background-image: linear-gradient(top, rgb(192, 192, 192), rgb(161, 161, 161));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#c0c0c0', EndColorStr='#a1a1a1');

    padding: 4px 6px;
    color: #444;
    width: 200px;
    font-size: 12px;
    font-weight: bold;
}
.modScreenBrowser ul li .image .info span {
    display: inline-block;
    width: 16px;
}
.modScreenBrowser ul li .image .info .zero {
    color: #BBB;
    text-shadow: none;
}

.modScreenBrowser ul li .delete-confirm {
    background-color: rgba(255, 0, 0, 0.5);
    display: block;
    width: 160px;
    height: 100px;
    position: absolute;
    top: 15px;
    left: 15px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.modScreenBrowser ul li.create .placeholder {
    color: #666;
    font-size: 100px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.modScreenBrowser ul li.create .placeholder div {
    background: #EEE url(/img/upload.png) center no-repeat;
    width: 200px;
    height: 145px;
    padding-top: 15px;
    
}

.modScreenBrowser ul li .title,
.modScreenBrowser ul li .title-placeholder {
    margin-top: 15px;
    line-height: 1.5;
    font-size: 13px;
    margin-bottom: 2px;
}

.modScreenBrowser ul li .title a,
.modScreenBrowser ul li .title-placeholder a {
    color: #444;
    text-decoration: none;
}

.modScreenBrowser ul li:hover .title a,
.modScreenBrowser ul li:hover .title-placeholder a {
    color: #FFF;
}

.modScreenBrowser ul li .meta {
    color: #999;
    font-size: 12px;
    position: relative;
} 

.modScreenBrowser ul li .meta .size {
    display: inline-block;
    background: #EEE;
    color: #777;
    border-radius: 2px;
    font-size: 11px;
    padding: 1px 3px;
}

.modScreenBrowser ul li:hover .meta .size {
    background: #111;
    color: #777;
}

.modScreenBrowser ul li a.delete {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #282828;
    border-radius: 2px;
    color: #777;
    font-size: 11px;
    padding: 1px 4px 1px 3px;
    margin-left: 3px;
    text-decoration: none;
}

.modScreenBrowser ul li a.delete:hover {
    background-color: #b81618;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(184, 22, 24)), to(rgb(161, 17, 20)));
    background-image: -webkit-linear-gradient(top, rgb(184, 22, 24), rgb(161, 17, 20));
    background-image: -moz-linear-gradient(top, rgb(184, 22, 24), rgb(161, 17, 20));
    background-image: -o-linear-gradient(top, rgb(184, 22, 24), rgb(161, 17, 20));
    background-image: -ms-linear-gradient(top, rgb(184, 22, 24), rgb(161, 17, 20));
    background-image: linear-gradient(top, rgb(184, 22, 24), rgb(161, 17, 20));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b81618', EndColorStr='#a11114');
    color: white;
}

.modScreenBrowser ul li:hover {
    background-color: #282828;
}

.modScreenBrowser .create {
    position: relative;
}

.modScreenBrowser .fileupload {
    position: absolute;
    top: -100px;
}

.modScreenBrowser .usermeta {
    float: right;
    margin: 23px 40px 23px 0;
    display: inline-block;
}

.modScreenBrowser .usermeta .info {
    float: left;
    margin-right: 15px;
    color: #999;
    text-align: right;
}
.modScreenBrowser .usermeta .info a {
    font-size: 14px;
    text-decoration: none;
    color: #999;
}
.modScreenBrowser .usermeta .info a:hover {
    text-decoration: underline;
}
.modScreenBrowser .usermeta .info p {
    line-height: 1.45;
    color: #454545;
}

.modScreenBrowser .usermeta .info .username {
    font-family:'Lexia W01 Regular', helvetica, arial, sans-serif;
    font-size: 18px;
}

.modScreenBrowser .usermeta .avatar {
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 3px;
}

.modScreenBrowser .usermeta .avatar img {
    border-radius: 24px;
    -webkit-border-radius: 24px;
    display: block;
}