.modScreenBrowser {
    margin-left: 270px;
}

.modScreenBrowser .head {
    overflow: hidden;
    border-bottom: 1px solid #DDD;
}

.modScreenBrowser .head:hover .actions {
    display: block;
}

.modScreenBrowser .actions {
    float: left;
    padding-top: 36px;
}

.modScreenBrowser .actions a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 8px;
    color: #666;
    border: 1px solid #DDD;
    border-radius: 3px;
    margin-right: 10px;
}

.modScreenBrowser .actions a:hover {
    background: #d8684a;
    color: #FFF;
    border: 1px solid transparent;
}

.modScreenBrowser h2 {
    float: left;
    font-family:'Lexia W01 Thin', helvetica, arial, sans-serif;
    font-size: 30px;
    padding: 30px 45px;
    color: #454545;
}
.modScreenBrowser h2 > span {
    color: #999;
}
.modScreenBrowser .colors {
    overflow: hidden;
    border-bottom: 1px dotted #EEE;
    padding: 10px 45px;
    line-height: 0;
}
.modScreenBrowser .colors .title,
.modScreenBrowser .colors .export {
    display: block;
    color: #999;
    float: left;
    margin-right: 10px;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1;
}
.modScreenBrowser .colors .btn-export-css {
    margin-left: 10px;
}
.modScreenBrowser .colors .export {
    text-decoration: none;
}
.modScreenBrowser .colors .export:hover {
    color: black;
}
.modScreenBrowser .colors .color {
    float: left;
    display: block;
    border-radius: 3px;
    color: #FFF;
    height: 10px;
    width: 40px;
    text-decoration: none;
    text-align: center;
    margin-right: 5px;
}
.modScreenBrowser .colors .color {

}
.modScreenBrowser ul {
    padding: 30px;
    padding-right: 0;
}
.modScreenBrowser ul li {
    float: left;
    margin-bottom: 5px;
    padding: 10px;
    position: relative;
}

.modScreenBrowser ul li img {
    display: block;
}
.modScreenBrowser ul li > a {
    display: block;
    width: 200px;
    height: 160px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    font-size: 13px;
}
.modScreenBrowser ul li > a .info {
    position: absolute;
    bottom: 0;
    background-color: #F6F6F6;
    padding: 4px 6px;
    color: #666;
    width: 188px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #FFF;
}
.modScreenBrowser ul li > a .info span {
    padding-right: 1px;
}
.modScreenBrowser ul li > a .info .zero .count {
    display: none;
}
.modScreenBrowser ul li > a .info .zero {
    color: #CCC;
    text-shadow: none;
}

.modScreenBrowser ul li .delete-confirm {
    background-color: rgba(255, 0, 0, 0.5);
    display: block;
    width: 160px;
    height: 100px;
    position: absolute;
    top: 15px;
    left: 15px;
    text-decoration: none;
    font-size: 1.5em;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.modScreenBrowser ul li.create .placeholder {
    color: #666;
    font-size: 100px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.modScreenBrowser ul li.create .placeholder div {
    background: #FFF;
    border: 1px dashed #DDD;
    width: 198px;
    height: 131px;
    padding-top: 27px;
    color: #DDD;
}

.modScreenBrowser ul li.create:hover .placeholder div {
    color: #444;
}

.modScreenBrowser ul li .title,
.modScreenBrowser ul li .title-placeholder {
    margin-top: 8px;
    line-height: 1.5;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
}

.modScreenBrowser ul li .title a,
.modScreenBrowser ul li .title-placeholder a {
    color: #444;
    text-decoration: none;
}

.modScreenBrowser ul li:hover .title,
.modScreenBrowser ul li:hover .title a,
.modScreenBrowser ul li:hover .title-placeholder a {
    color: #FFF;
}

.modScreenBrowser ul li .meta {
    color: #999;
    font-size: 12px;
    position: relative;
} 

.modScreenBrowser ul li .meta .size {
    display: inline-block;
    background: #EEE;
    color: #777;
    border-radius: 2px;
    font-size: 11px;
    padding: 1px 3px;
}

.modScreenBrowser ul li:hover .meta .size {
    background: #111;
    color: #777;
}

.modScreenBrowser ul li a.delete {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #282828;
    border-radius: 2px;
    color: #777;
    font-size: 11px;
    padding: 1px 4px 1px 3px;
    margin-left: 3px;
    text-decoration: none;
}

.modScreenBrowser ul li:hover a.delete {
    display: block;
}

.modScreenBrowser ul li a.delete:hover {
    background-color: #b81618;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(184, 22, 24)), to(rgb(161, 17, 20)));
    background-image: -webkit-linear-gradient(top, rgb(184, 22, 24), rgb(161, 17, 20));
    background-image: -moz-linear-gradient(top, rgb(184, 22, 24), rgb(161, 17, 20));
    background-image: -o-linear-gradient(top, rgb(184, 22, 24), rgb(161, 17, 20));
    background-image: -ms-linear-gradient(top, rgb(184, 22, 24), rgb(161, 17, 20));
    background-image: linear-gradient(top, rgb(184, 22, 24), rgb(161, 17, 20));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#b81618', EndColorStr='#a11114');
    color: white;
}

.modScreenBrowser ul li:hover {
    background-color: #282828;
}

.modScreenBrowser .create {
    position: relative;
}

.modScreenBrowser .fileupload,
.modScreenBrowser .fileupload-replace {
    position: absolute;
    top: -100px;
}

.modScreenBrowser .btn-create-project {
    display: inline-block;
    color: #FFF;
    margin: 40px 45px;
    font-size: 18px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #0792cd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(7, 146, 205)), to(rgb(3, 124, 178)));
    background-image: -webkit-linear-gradient(top, rgb(7, 146, 205), rgb(3, 124, 178));
    background-image: -moz-linear-gradient(top, rgb(7, 146, 205), rgb(3, 124, 178));
    background-image: -o-linear-gradient(top, rgb(7, 146, 205), rgb(3, 124, 178));
    background-image: -ms-linear-gradient(top, rgb(7, 146, 205), rgb(3, 124, 178));
    background-image: linear-gradient(top, rgb(7, 146, 205), rgb(3, 124, 178));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0792cd', EndColorStr='#037cb2');
    padding: 14px 24px;
    color: #FFF;
}
.modScreenBrowser .btn-create-project:hover {
    background-color: #02a4e9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(2, 164, 233)), to(rgb(7, 146, 205)));
    background-image: -webkit-linear-gradient(top, rgb(2, 164, 233), rgb(7, 146, 205));
    background-image: -moz-linear-gradient(top, rgb(2, 164, 233), rgb(7, 146, 205));
    background-image: -o-linear-gradient(top, rgb(2, 164, 233), rgb(7, 146, 205));
    background-image: -ms-linear-gradient(top, rgb(2, 164, 233), rgb(7, 146, 205));
    background-image: linear-gradient(top, rgb(2, 164, 233), rgb(7, 146, 205));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#02a4e9', EndColorStr='#0792cd');
}
.modScreenBrowser ul li:hover .btn-replace {
    display: inline-block;
}
.modScreenBrowser .btn-replace {
    display: none;
    background: #111;
    color: #777;
    border-radius: 2px;
    font-size: 11px;
    padding: 1px 3px;
    text-decoration: none;
    margin-left: 5px;
}
.modScreenBrowser .btn-replace:hover {
    background: #111;
    color: #FFF;
}

.modScreenBrowser .set .preview {
    background-color: #333333;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(51, 51, 51)), to(rgb(0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgb(51, 51, 51), rgb(0, 0, 0));
    background-image: -moz-linear-gradient(top, rgb(51, 51, 51), rgb(0, 0, 0));
    background-image: -o-linear-gradient(top, rgb(51, 51, 51), rgb(0, 0, 0));
    background-image: -ms-linear-gradient(top, rgb(51, 51, 51), rgb(0, 0, 0));
    background-image: linear-gradient(top, rgb(51, 51, 51), rgb(0, 0, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#333333', EndColorStr='#000000');
    border-radius: 5px;
    height: 132px;
    padding: 14px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
}

.modScreenBrowser .set .preview .image-2 {
    position: absolute;
    top: 52px;
    left: 17px;
    transform: rotate(5deg);
    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Safari and Chrome */
    -o-transform: rotate(5deg); /* Opera */
    -moz-transform: rotate(5deg); /* Firefox */
    box-shadow: 0 0 5px #000;
}

.modScreenBrowser .set .preview .image-1 {
    position: absolute;
    top: 52px;
    left: 15px;
    transform: rotate(2deg);
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Safari and Chrome */
    -o-transform: rotate(2deg); /* Opera */
    -moz-transform: rotate(2deg); /* Firefox */
}

.modScreenBrowser .set .preview h4 {
    font-family:'Lexia W01 Regular', helvetica, arial, sans-serif;
    color: #FFF;
    font-size: 16px;

}

.modScreenBrowser .ui-draggable-dragging {
    width: 100px;
    border-radius: 3px;
    box-shadow: 0 0 5px #000;
}

.modScreenBrowser .ui-state-hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}