.modLayerModule {
    position: absolute;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
}

.modLayerModule .measure {
    background-color: rgba(255, 174, 0, 0.6);
    position: absolute;
}

.modLayerModule .measure:hover {
    background-color: rgba(255, 174, 0, 0.7);
    cursor: auto;
}

.modLayerModule .measure .meta,
.modLayerModule .measure-helper .meta {
    font-family: helvetica; 
    font-size: 12px;
    font-weight: bold;
    position: absolute; 
    bottom: -20px;
    left: 0;
    height: 14px;
    color: #FFF;
    text-shadow: 1px 1px 0 #000; 
    background-color: #434343;
    padding: 3px 6px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 10;
}

.modLayerModule .measure:hover .meta,
.modLayerModule .measure-helper:hover .meta {
    background: #000;
    z-index: 11;
}

.modLayerModule .measure-helper .meta {
    bottom: -21px;
    left: -1px;
}

.modLayerModule .measure-helper {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.modLayerModule .meta input {
    background: none;
    border: none;
    color: #fff;
}
.modLayerModule a {
    color: #FFF;
    text-decoration: none;
}
/* handles */
.modLayerModule .ui-resizable-handle {
    display: none !important;
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 7px;
    height: 7px;
    border-radius: 7px;
    border: 2px solid rgba(255,255,255,0.8);
}
.modLayerModule .ui-resizable-handle:hover {
    background: rgba(0,0,0,0.8);
    border: 2px solid rgba(255,255,255,1);
}

.modLayerModule .selected .ui-resizable-handle {
    display: block !important;
}

.modLayerModule .ui-resizable-nw {
    left: 0;
    top: 0;
    margin-top: -5px;
    margin-left: -5px;
}

.modLayerModule .ui-resizable-n {
    left: 50%;
    top: 0;
    margin-top: -5px;
    margin-left: -5px;
}

.modLayerModule .ui-resizable-ne {
    right: 0;
    top: 0;
    margin-top: -5px;
    margin-right: -5px;
}

.modLayerModule .ui-resizable-w {
    left: 0;
    top: 50%;
    margin-top: -5px;
    margin-left: -5px;
}

.modLayerModule .ui-resizable-e {
    right: 0;
    top: 50%;
    margin-top: -5px;
    margin-right: -5px;
}

.modLayerModule .ui-resizable-s {
    left: 50%;
    bottom: 0;
    margin-bottom: -5px;
    margin-left: -5px;
}

.modLayerModule .ui-resizable-sw {
    left: 0;
    bottom: 0;
    margin-bottom: -5px;
    margin-left: -5px;
}
.modLayerModule .ui-resizable-se {
    right: 0;
    bottom: 0;
    margin-bottom: -5px;
    margin-right: -5px;
}