.modAuth .signup {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}

.modAuth .branding {
    float: left;
    width: 300px;
}

.modAuth h1 {
    color: #FFF;
    font-weight: bold;
    font-size: 48px;
    text-align: right;
}

.modAuth h2 {
    color: #474747;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.modAuth .form {
    padding-left: 50px;
    margin-left: 350px;
    border-left: 1px solid #494a4a;
}

.modAuth .form .name {
    width: 350px;
    color: #FFF;
    border: none;
    display: block;
    padding: 18px 20px;
    font-size: 24px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 20px;
    background-color: #494a4a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(73, 74, 74)), to(rgb(69, 70, 70)));
    background-image: -webkit-linear-gradient(top, rgb(73, 74, 74), rgb(69, 70, 70));
    background-image: -moz-linear-gradient(top, rgb(73, 74, 74), rgb(69, 70, 70));
    background-image: -o-linear-gradient(top, rgb(73, 74, 74), rgb(69, 70, 70));
    background-image: -ms-linear-gradient(top, rgb(73, 74, 74), rgb(69, 70, 70));
    background-image: linear-gradient(top, rgb(73, 74, 74), rgb(69, 70, 70));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#494a4a', EndColorStr='#454646');
}

.modAuth .form .twitter {
    position: relative;
    width: 350px;
    color: #FFF;
    border: none;
    display: block;
    padding: 18px 20px;
    font-size: 24px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: left;
    text-decoration: none;
    background-color: #0792cd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(7, 146, 205)), to(rgb(3, 124, 178)));
    background-image: -webkit-linear-gradient(top, rgb(7, 146, 205), rgb(3, 124, 178));
    background-image: -moz-linear-gradient(top, rgb(7, 146, 205), rgb(3, 124, 178));
    background-image: -o-linear-gradient(top, rgb(7, 146, 205), rgb(3, 124, 178));
    background-image: -ms-linear-gradient(top, rgb(7, 146, 205), rgb(3, 124, 178));
    background-image: linear-gradient(top, rgb(7, 146, 205), rgb(3, 124, 178));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0792cd', EndColorStr='#037cb2');
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.2);
}

.modAuth .form a.twitter:hover {
    background-color: #02a4e9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(2, 164, 233)), to(rgb(7, 146, 205)));
    background-image: -webkit-linear-gradient(top, rgb(2, 164, 233), rgb(7, 146, 205));
    background-image: -moz-linear-gradient(top, rgb(2, 164, 233), rgb(7, 146, 205));
    background-image: -o-linear-gradient(top, rgb(2, 164, 233), rgb(7, 146, 205));
    background-image: -ms-linear-gradient(top, rgb(2, 164, 233), rgb(7, 146, 205));
    background-image: linear-gradient(top, rgb(2, 164, 233), rgb(7, 146, 205));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#02a4e9', EndColorStr='#0792cd');
}

.modAuth .form a.twitter:active {
    background-color: #037cb2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(3, 124, 178)), to(rgb(0, 97, 142)));
    background-image: -webkit-linear-gradient(top, rgb(3, 124, 178), rgb(0, 97, 142));
    background-image: -moz-linear-gradient(top, rgb(3, 124, 178), rgb(0, 97, 142));
    background-image: -o-linear-gradient(top, rgb(3, 124, 178), rgb(0, 97, 142));
    background-image: -ms-linear-gradient(top, rgb(3, 124, 178), rgb(0, 97, 142));
    background-image: linear-gradient(top, rgb(3, 124, 178), rgb(0, 97, 142));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#037cb2', EndColorStr='#00618e');
}

.modAuth .form .twitter span {
    display: block;
    position: absolute;
    top: 22px;
    right: 20px;
    height: 20px;
    background: url('/img/signup-twitter.png') no-repeat right;
    color: #024063;
    font-size: 14px;
    font-weight: bold;
    padding-right: 35px;
    line-height: 20px;
}

.modAuth .private-beta {
    background: url('/img/private-beta.png') no-repeat;
    position: absolute;
    top: 200px;
    left: 0;
    width: 200px;
    height: 35px;
    color: #474848;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 128px;
    line-height: 35px;
}

.modAuth .signup .notice {
    text-align: center;
    color: #555;
    font-size: 12px;
    margin-top: 100px;
}

.modAuth .signup .notice a {
    color: #888;
}