.modSidebar {
	background: #E8E8E8;
	position: fixed;
	right: -260px;
	top: 0;
	bottom: 0;
	width: 260px;
	z-index: 2;
    overflow: auto;
}
a.btn-sidebar-toggle {
	position: fixed;
	right: 0;
	top: 0;
	background: rgba(85,85,85,0.5);
	z-index: 3;
	color: #999;
	text-decoration: none;
	padding: 8px 10px;
	width: 14px;
}
a.btn-sidebar-toggle:hover {
	background: rgba(85,85,85,1);
	color: #FFF;
}
a.btn-sidebar-toggle .icon-reorder {
	display: none;
	color: #333;
}
a.btn-sidebar-toggle:hover .icon-reorder {
	color: #FFF;
}
.modSidebar .nav {
	background: #555;
}
.modSidebar .nav li {
	float: left;
	border-right: 1px solid #444;
	
}
.modSidebar .nav li a {
	display: block;
	color: #999;
	padding: 8px 10px;
	text-decoration: none;
}
.modSidebar .nav li.active a {
	background: #E8E8E8;
	color: #555;
}
.modSidebar .nav li.btn-close {
	float: right;
}
.modSidebar .nav li.btn-close:hover a {
	color: #FFF;
}
.modSidebar .items {
	display: none;
}
.modSidebar .item {
	padding: 10px;
	font-size: 13px;
	line-height: 1.4;
	cursor: pointer;
}

.modSidebar .item > p {
	background: #FFF;
	color: #444;
	padding: 5px 8px;
	font-size: 13px;
	border-radius: 2px;
	position: relative;
    -webkit-box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.2);
	
}
.modSidebar .item > p:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.modSidebar .item > p:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #FFF;
	border-width: 4px;
	left: 30px;
	margin-left: -4px;
}
.modSidebar .item .author {
	line-height: 1.6;
	font-size: 12px;
	color: #666;
	margin-bottom: 5px;
	font-weight: bold;
}
.modSidebar .item .author .nr {
	float: left;
    color: #999;
    border: 1px solid #999;
    border-radius: 8px;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    margin-right: 5px;
    line-height: 15px;
    font-weight: bold;
}
.modSidebar .item .author img {
	display: block;
	float: left;
	border-radius: 8px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.modSidebar .item .author p {
	float: left;
}
.modSidebar .item:hover {
	
}
.modSidebar .item:hover > p {
	background: #FFF;
}
.modSidebar .item:hover > p:after {
	border-bottom-color: #FFF;
}
.modSidebar .item:hover .author .nr {
	border-color: transparent;
	background-color: #060606;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(6, 6, 6)), to(rgb(43, 43, 43)));
    background-image: -webkit-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: -moz-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: -o-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: -ms-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#060606', EndColorStr='#2b2b2b');
    color: #FFF;
}

/* color */
.modSidebar .items-colors .item {
    position: relative;
    border-bottom: 1px solid #DDD;
}
.modSidebar .items-colors .item:hover {
	
}
.modSidebar .items-colors .item .color {
	width: 15px;
	height: 15px;
	float: left;
	border-radius: 15px;
}

.modSidebar .items-colors .item .title {
	float: left;
	font-size: 12px;
	margin-left: 10px;
}

.modSidebar .items-colors .item .title .name {
	display: block;
	color: #666;
    font-weight: bold;
}

.modSidebar .items-colors .item .title .hex {
    position: absolute;
    top: 9px;
    right: 9px;
    background: #CCC;
	color: #555;
    font-size: 11px;
    padding: 2px 4px;
    border-radius: 3px;
    text-transform: uppercase;
}

.modSidebar .items-colors .item:hover .name, 
.modSidebar .items-colors .item:hover .hex {
    color: #000;
}

.modSidebar .items-colors .item:hover .hex {
    background: #444;
    color: #FFF
}