.modal h3 {
    line-height: 27px;
    font-size: 18px;
    font-weight: bold;
}

.modal .fld {
    display: block;
    background-color: #FFF;
    color: #444;
    padding: 0 10px;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 3px;
    overflow: auto;
    border: 1px solid #999;
    width: 510px;
}

.btn-danger {
    background-color: #1290d3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(18, 144, 211)), to(rgb(12, 123, 184)));
    background-image: -webkit-linear-gradient(top, rgb(18, 144, 211), rgb(12, 123, 184));
    background-image: -moz-linear-gradient(top, rgb(18, 144, 211), rgb(12, 123, 184));
    background-image: -o-linear-gradient(top, rgb(18, 144, 211), rgb(12, 123, 184));
    background-image: -ms-linear-gradient(top, rgb(18, 144, 211), rgb(12, 123, 184));
    background-image: linear-gradient(top, rgb(18, 144, 211), rgb(12, 123, 184));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1290d3', EndColorStr='#0c7bb8');
    color: #FFF;
    border-radius: 3px;
    text-decoration: none;
}

code, pre {
    display: block;
    background-color: #333;
    color: #DDD;
    padding: 15px;
    font-family: menlo, monospace;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 3px;
    line-height: 1.5;
    overflow: auto;
}
code {
	white-space: nowrap;
}