.modToolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #FFF;
    z-index: 99;
    padding-left: 5px;
}

.modToolbar .button {
    font-size: 13px;
    font-weight: normal;
    font-family: helvetica, sans-serif;
    float: left;
    background: #222;
    margin: 5px 5px 5px 0;
    border-radius: 2px;
    padding: 8px 12px;
    color: white;
    text-decoration: none;
}

.modToolbar .button:hover {
    box-shadow: 0 0 1px #FFF;
}

.modToolbar .button.delete {
    background-color: #ee1f18;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 31, 24)), to(rgb(171, 20, 14)));
    background-image: -webkit-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -moz-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -o-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -ms-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ee1f18', EndColorStr='#ab140e');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modToolbar .button.active {
    background-color: #1290d3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(18, 144, 211)), to(rgb(12, 123, 184)));
    background-image: -webkit-linear-gradient(top, rgb(18, 144, 211), rgb(12, 123, 184));
    background-image: -moz-linear-gradient(top, rgb(18, 144, 211), rgb(12, 123, 184));
    background-image: -o-linear-gradient(top, rgb(18, 144, 211), rgb(12, 123, 184));
    background-image: -ms-linear-gradient(top, rgb(18, 144, 211), rgb(12, 123, 184));
    background-image: linear-gradient(top, rgb(18, 144, 211), rgb(12, 123, 184));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1290d3', EndColorStr='#0c7bb8');
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.2);
    color: white;
}

.modToolbar .button.active:hover {
    box-shadow: none;
}

.modToolbar .button.delete:hover {
    box-shadow: none;
}

.modToolbar .btn-comments,
.modToolbar .btn-measure,
.modToolbar .btn-behaviour, 
.modToolbar .btn-color,
.modToolbar .btn-fonts {
    float: right;
}

.modToolbar .btn-last {
    margin-right: 10px;
}

.modToolbar .btn-logo {
    background: none;
    background-image: url(/img/style-logo.png);
    background-repeat: no-repeat;
    background-position: 4px 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 8px;
}