.modToolbar {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 50;
}

.modToolbar .section {
	background: rgba(0,0,0,0.6);
	margin-bottom: 20px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.modToolbar .section a {
	display: block;
	width: 47px;
	height: 47px;
	border-bottom: 1px solid #535353;
	padding: 4px;
	position: relative;
}

.modToolbar .section a:last-child {
	border: none;
}

.modToolbar .section a > i {
	display: block;
	width: 47px;
	height: 47px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.modToolbar .section a:hover > i {
	background-color: #515151;
}
.modToolbar .section a:active > i {
	background-color: #222;
}

.modToolbar .section a.active > i {
	background-color: #3a3a3a;
}

.modToolbar .tt {
	display: none;
	position: absolute;
	top: 12px;
	left: 65px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 8px 10px;
	color: #FFF;
	font-family:'Lexia W01 Regular', arial, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	white-space: nowrap;
	background: #d8684a;
}

.modToolbar .tt i {
	background: transparent url(/img/tooltip-arrow.png) center no-repeat;
	width: 4px;
	height: 8px;
	display: block;
	position: absolute;
	top: 11px;
	left: -4px;
}

.modToolbar .section a:hover .tt {
	display: block;
}

.modToolbar .btn-screen > i {
	background: transparent url(/img/toolbar-reply.png) center no-repeat;
}

.modToolbar .btn-comments > i {
	background: transparent url(/img/toolbar-chat.png) center no-repeat;
}

.modToolbar .btn-measure > i {
	background: transparent url(/img/toolbar-move.png) center no-repeat;
}

.modToolbar .btn-modules > i {
	background: transparent url(/img/toolbar-grid.png) center no-repeat;
}

.modToolbar .btn-color > i {
	background: transparent url(/img/toolbar-drop.png) center no-repeat;
}

.modToolbar .btn-embed > i {
	background: transparent url(/img/toolbar-globe.png) center no-repeat;
}

.modToolbar .btn-embed {
	position: relative;
}

.modToolbar .btn-embed span {
	position: absolute;
	bottom: 3px;
	right: 5px;
}

.modToolbar .btn-embed .enabled {
    color: #b9ff67;
    font-weight: bold;
    font-size: 12px;
}

.modToolbar .btn-embed .disabled {
    color: #c11a00;
    font-weight: bold;
    font-size: 12px;
}