.modToolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #434343;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(67, 67, 67)), to(rgb(45, 45, 45)));
    background-image: -webkit-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: -moz-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: -o-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: -ms-linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    background-image: linear-gradient(top, rgb(67, 67, 67), rgb(45, 45, 45));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#434343', EndColorStr='#2d2d2d');
    color: #FFF;
    z-index: 99;
    padding-left: 5px;
}

.modToolbar .button {
    font-size: 13px;
    font-weight: bold;
    font-family: helvetica, sans-serif;
    float: left;
    background: #222;
    margin: 5px 5px 5px 0;
    border-radius: 2px;
    padding: 8px 12px;
    color: #FFF;
    text-shadow: 0 -1px 0 #000;
    -webkit-box-shadow: inset 0px 1px 0px 0px #000;
    -moz-box-shadow: inset 0px 1px 0px 0px #000;
    box-shadow: inset 0px 1px 0px 0px #000;
    text-decoration: none;
}

.modToolbar .button:hover {
    box-shadow: 0 0 4px white;
}

.modToolbar .button.delete {
    background-color: #ee1f18;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 31, 24)), to(rgb(171, 20, 14)));
    background-image: -webkit-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -moz-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -o-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -ms-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ee1f18', EndColorStr='#ab140e');
    text-shadow: 0 1px 0 #b71a15;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modToolbar .button.active {
    background-color: #77b83c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(119, 184, 60)), to(rgb(111, 173, 56)));
    background-image: -webkit-linear-gradient(top, rgb(119, 184, 60), rgb(111, 173, 56));
    background-image: -moz-linear-gradient(top, rgb(119, 184, 60), rgb(111, 173, 56));
    background-image: -o-linear-gradient(top, rgb(119, 184, 60), rgb(111, 173, 56));
    background-image: -ms-linear-gradient(top, rgb(119, 184, 60), rgb(111, 173, 56));
    background-image: linear-gradient(top, rgb(119, 184, 60), rgb(111, 173, 56));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#77b83c', EndColorStr='#6fad38');
    text-shadow: 0 1px 0 #40681e;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modToolbar .button.active:hover {
    box-shadow: none;
}

.modToolbar .button.delete:hover {
    box-shadow: none;
}

.modToolbar .btn-comments,
.modToolbar .btn-measure,
.modToolbar .btn-behaviour, 
.modToolbar .btn-color,
.modToolbar .btn-fonts {
    float: right;
}

.modToolbar .btn-last {
    margin-right: 10px;
}

.modToolbar .btn-logo {
    background: none;
    background-image: url(/img/style-logo.png);
    background-repeat: no-repeat;
    background-position: 4px 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 8px;
}