.modToolbar {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 50;
}

.modToolbar .section {
	background: rgba(0,0,0,0.6);
	margin-bottom: 20px;
	-webkit-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}

.modToolbar .section a {
	display: block;
	width: 47px;
	height: 47px;
	border-bottom: 1px solid #535353;
	padding: 4px;
	position: relative;
}

.modToolbar .section a:last-child {
	border: none;
}

.modToolbar .section a > i {
	display: block;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #FFF;
	text-decoration: none;
	font-size: 32px;
	line-height: 1;
	padding: 8px 0 5px 0;
	text-align: center;
}

.modToolbar .section a:hover > i {
	background-color: #515151;
}
.modToolbar .section a:active > i {
	background-color: #222;
}

.modToolbar .section a.active > i {
	background-color: #3a3a3a;
}

.modToolbar .tt {
	display: none;
	position: absolute;
	top: 12px;
	left: 65px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 8px 10px;
	color: #FFF;
	font-family:'Lexia W01 Regular', arial, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	white-space: nowrap;
	background: #d8684a;
	z-index: 5;
}

.modToolbar .tt i {
	background: transparent url(/img/tooltip-arrow.png) center no-repeat;
	width: 4px;
	height: 8px;
	display: block;
	position: absolute;
	top: 11px;
	left: -4px;
}

.modToolbar .section a:hover .tt {
	display: block;
}

.modToolbar .btn-embed {
	position: relative;
}

.modToolbar .btn-embed span {
	position: absolute;
	bottom: 3px;
	right: 5px;
}

.modToolbar .btn-embed .enabled {
    color: #b9ff67;
    font-weight: bold;
    font-size: 12px;
}

.modToolbar .btn-embed .disabled {
    color: #c11a00;
    font-weight: bold;
    font-size: 12px;
}
.modToolbar .section a:hover .count {
	display: none;
}
.modToolbar .section a .count {
	position: absolute;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left center, right center, from(rgb(255, 255, 255)), to(rgb(238, 238, 238)));
	background-image: -webkit-linear-gradient(left, rgb(255, 255, 255), rgb(238, 238, 238));
	background-image: -moz-linear-gradient(left, rgb(255, 255, 255), rgb(238, 238, 238));
	background-image: -o-linear-gradient(left, rgb(255, 255, 255), rgb(238, 238, 238));
	background-image: -ms-linear-gradient(left, rgb(255, 255, 255), rgb(238, 238, 238));
	background-image: linear-gradient(left, rgb(255, 255, 255), rgb(238, 238, 238));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#ffffff', EndColorStr='#eeeeee');
	right: -20px;
	width: 20px;
	top: 10px;
	color: #999;
	border-radius: 0 4px 4px 0;
	text-align: center;
	font-size: 11px;
	padding: 4px 0;
}