.modStyleguide {
    font-family: "helvetica neue", arial, sans-serif;
    font-size: 16px;
    margin-left: 290px;
    width: 967px;
}

.modStyleguide .pagebreak {
    page-break-before: always;
}

.modStyleguide .sidebar {
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 210px;
    border-right: 1px solid #DDD;
    padding: 40px 40px;

}

.modStyleguide .sidebar h1.logo {
    font-family:"Lexia W01 Regular", helvetica neue, arial, sans-serif;
    font-size: 28px;
    color: #444;
}

.modStyleguide *[contenteditable="true"]:hover {
    background: #fdf9ea;
}

.modStyleguide .sidebar ul {
    margin-top: 120px;
}
.modStyleguide .sidebar ul > li > a {
    display: block;
    color: #666;
    text-decoration: none;
    line-height: 2.2;
    font-weight: bold;
    position: relative;
}
.modStyleguide .sidebar ul > li > a:hover {
    color: #000;
}
.modStyleguide .sidebar ul > li > a > span {
    position: absolute;
    background: #EEE;
    width: 28px;
    border-radius: 3px;
    text-align: center;
    top: 3px;
    right: 0;
    font-size: 12px;
    color: #999;
}
.modStyleguide .sidebar ul > li > a:hover span {
    background: #444;
    color: #FFF;
}
.modStyleguide .sidebar .btn-clarify {
    position: absolute;
    bottom: 40px;
    left: 40px;
    text-decoration: none;
    color: #666;
    font-size: 12px;
}

.modStyleguide .sidebar .btn-clarify strong {
    font-family:"Lexia W01 Regular", helvetica neue, arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #222;
}

.modStyleguide .content {
    padding: 40px 60px;
}
.modStyleguide .content h2 {
    font-family:"Lexia W01 Regular", helvetica neue, arial, sans-serif;
    font-size: 28px;
    color: #DDD;
    margin-bottom: 40px;
}

.modStyleguide .content h2 a {
    color: #DDD;
    text-decoration: none;
}

.modStyleguide .content h3 {
    font-family:"Lexia W01 Regular", helvetica neue, arial, sans-serif;
    font-size: 24px;
    color: #555;
    margin-bottom: 30px;
}

.modStyleguide .content h3 a {
    color: #555;
    text-decoration: none;
}

.modStyleguide .section {
    margin-bottom: 60px;
}

/* colors */
.modStyleguide .section-colors {
    overflow: hidden;
}
.modStyleguide .section-colors .color {
    float: left;
    width: 140px;
    margin-bottom: 20px;
}
.modStyleguide .section-colors .color > div {
    font-size: 13px;
    color: #999;
    line-height: 1.5;
    text-align: center;
}
.modStyleguide .section-colors .color .preview {
    background: #EEE;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: 20px 30px 10px 30px;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.modStyleguide .section-colors .color .hex {
    color: #444;
    text-transform: uppercase;
    font-size: 16px;
}
.modStyleguide .section-colors .color .css {
    border: 1px solid #DDD;
    color: #666;
    margin: 10px 10px 0 10px;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px;
}

/* typography */
.modStyleguide .section-typography {
    
}
.modStyleguide .section-typography .font {
    margin-bottom: 60px;
    overflow: hidden;
    position: relative;
}
.modStyleguide .section-typography .font > .preview {
    height: 200px;
    border-bottom: 1px solid #DDD;
}
.modStyleguide .section-typography .font > .preview .state {
    font-size: 13px;
    padding: 7px 0 7px 120px;
}
.modStyleguide .section-typography .font > .preview .sample {
    padding: 20px 20px 20px 120px;
}
.modStyleguide .section-typography .font > .css {
    color: #666;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 1.5;
}
.modStyleguide .section-typography .font .colors {
    position: absolute;
    top: 0;
    right: 0;
}
.modStyleguide .section-typography .font .colors .shadow {
    float: left;
    width: 300px;
    height: 180px;
    background-image: -webkit-gradient(linear, left center, right center, from(rgba(255, 255, 255, 0.00)), to(rgba(255, 255, 255, 1.00)));
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 1.00));
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 1.00));
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 1.00));
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 1.00));
    background-image: linear-gradient(left, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 1.00));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#ffffff', EndColorStr='#ffffff');
}
.modStyleguide .section-typography .font .meta {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
    width: 100px;
}
.modStyleguide .section-typography .font .meta > div {
    font-size: 13px;
    color: #999;
    line-height: 1.5;
    text-align: center;
}
.modStyleguide .section-typography .font .meta .size {
    font-size: 28px;
    color: #444;
    margin-top: 10px;
}
.modStyleguide .section-typography .font .color {
    float: left;
    background: #FFF;
    width: 100px;
}
.modStyleguide .section-typography .font .color > div {
    font-size: 13px;
    color: #999;
    line-height: 1.5;
    text-align: center;
}
.modStyleguide .section-typography .font .color .preview {
    background: #EEE;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 20px 30px 10px 30px;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.modStyleguide .section-typography .font .color .hex {
    color: #444;
    text-transform: uppercase;
    font-size: 16px;
}
.modStyleguide .section-typography .font .state {
    border-bottom: 1px solid #EEE;
    color: #666;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modStyleguide .section-typography .font .color .css {
    margin: 10px 10px 0 10px;
    color: #666;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #DDD;
}

/* screens */
.modStyleguide .section-screens .screen {
    overflow: hidden;
    margin-bottom: 60px;
}
.modStyleguide .section-screens .screen .image {
    float: left;
}
.modStyleguide .section-screens .definitions {
    float: left;
    width: 220px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.modStyleguide .section-screens .definitions li {
    clear: both;
}

.modStyleguide .section-screens .definitions li .dot {
    display: block;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: relative;
    float: left;
}

.modStyleguide .section-screens .definitions li .nr {
    display: block;
    position: absolute;
    width: 20px;
    text-align: center;
    top: 1px;
    left: 0px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.modStyleguide .section-screens .definitions li p {
    margin-left: 40px;
    padding-top: 1px;
    margin-bottom: 15px;
}

.modStyleguide .section-screens p {
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 1.5;
    color: #000;
}

/* modules */
.modStyleguide .section-modules .module {
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
}

.modStyleguide .section-modules .module img {
    display: block;
    margin-bottom: 10px;
}

.modStyleguide .section-modules .module .css {
    border-top: 1px solid #DDD;
    color: #666;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

@media print {
    .modStyleguide {
        font-family: "helvetica neue", arial, sans-serif;
        font-size: 16px;
        margin-left: 0;
        width: 967px;
    }

    .modStyleguide .pagebreak {
        page-break-before: always;
    }

    .modStyleguide .sidebar {
        display: none;
    }
    .modStyleguide .section-typography .font .colors .shadow {
        display: none;
    }
}