.modGuide {
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    font-family: helvetica, arial, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

.modGuide .screen {
    margin-left: 30px;
    margin-bottom: 50px;
    margin-right: 20px;
    float: left;
    width: 580px;
}

.modGuide h1 {
    background-color: #FFF;
    font-size: 48px;
    color: #000;
    padding: 30px;
    border-bottom: 1px solid #DDD;
}

.modGuide > .meta {
    font-size: 24px;
}

.modGuide h2 {
    background: #FFF;
    font-size: 24px;
    font-weight: bold;
    clear: both;
    color: #333;
    padding: 15px 30px;
    margin-bottom: 1px;
}

.modGuide .pagebreak {
    page-break-before: always;
}

.modGuide h3 {
    background: #EEE;
    font-size: 18px;
    margin-bottom: 30px;
    clear: both;
    color: #555;
    font-style: italic;
    padding: 15px 30px;
}

.modGuide .definitions {
    float: left;
    width: 300px;
    margin-bottom: 40px;
}

.modGuide .definitions li {
    clear: both;
}

.modGuide .definitions li .dot {
    display: block;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    border: 2px solid #000;
    position: relative;
    float: left;
}

.modGuide .definitions li .nr {
    display: block;
    position: absolute;
    width: 24px;
    text-align: center;
    top: 3px;
    left: 0px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.modGuide .definitions li p {
    margin-left: 40px;
    padding-top: 3px;
    margin-bottom: 15px;
}

.modGuide p {
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 1.5;
    color: #000;
}

.modGuide .colors {
    overflow: hidden;
    padding: 0 30px 30px 30px;
}

.modGuide .color {
    overflow: hidden;
    border: 1px solid #DDD;
    margin-bottom: 5px;
    border-radius: 4px;
}

.modGuide .color .state {
    float: left;
    width: 100px;
    background-color: #EEE;
    border-radius: 4px;
    margin: 5px 0 5px 5px;
    color: #555;
    padding: 12px;
}

.modGuide .color .box {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 4px;
}

.modGuide .color .meta {
    float: left;
    font-size: 18px;
    color: #333;
    padding: 15px 0 0 15px;
}

.modGuide .color .meta-hex {
    font-weight: bold;
    width: 120px;
}

.modGuide .color .meta-rgb {
    width: 180px;
    color: #999;
}

.modGuide .color .meta-less {
    width: 180px;
    background: #EEE;
    border: 1px solid #DDD;
    color: #666;
    font-family: monospace;
    padding: 5px;
    border-radius: 4px;
    margin-top: 9px;
}

.modGuide .fonts {
    overflow: hidden;
    padding: 0 30px 30px 30px;
}

.modGuide .font {
    overflow: hidden;
    border: 1px solid #DDD;
    margin-bottom: 5px;
    border-radius: 4px;
}

.modGuide .font .preview {
    float: left;
    width: 400px;
    margin: 20px;
}

.modGuide .font-meta {
    overflow: hidden;
    border: 1px solid #DDD;
    margin-bottom: 5px;
    border-radius: 4px;
}

.modGuide .font-meta div {
    float: left;
    font-size: 18px;
    color: #333;
    padding: 15px;
    font-weight: normal;
    width: 155px;
    color: #999;
}

.modGuide .font-meta div strong {
    font-style: normal;
    color: #333;
}