.modScreen {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    z-index: 1;
}

.modScreen .screen {
    position: absolute;
    top: 0;
    display: block;
    background-repeat: no-repeat;
    cursor: crosshair;
}