.modLayerComment {
    position: absolute;
    z-index: 2;
}

.modLayerComment .def {
    position: absolute;
}

.modLayerComment .def .dot {
    display: block;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    text-decoration: none;
    background-color: #060606;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(6, 6, 6)), to(rgb(43, 43, 43)));
    background-image: -webkit-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: -moz-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: -o-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: -ms-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#060606', EndColorStr='#2b2b2b');
    border: 2px solid #FFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    box-shadow: 0 0 3px #000;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: 1s;
}

.modLayerComment .def .dot:hover {
    box-shadow: 0 0 10px #000;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: 0.5s;
    cursor: move;
}

.modLayerComment .def .dot-active {
    
}

.modLayerComment .ui-draggable-dragging .dot {
    background: rgba(255,255,255,0.5);
    border-color: black;
}

.modLayerComment .def-delete .dot {
    background-color: #ee1f18;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 31, 24)), to(rgb(171, 20, 14)));
    background-image: -webkit-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -moz-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -o-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -ms-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ee1f18', EndColorStr='#ab140e');
}

.modLayerComment .def .nr {
    display: block;
    position: absolute;
    width: 25px;
    text-align: center;
    top: 3px;
    left: 0px;
    text-shadow: 0 -1px 0 #00708d;
    color: #FFF;
    font-weight: bold;
    font-family: helvetica neue, sans-serif;
    text-align: center;
    z-index: 4;
}

.modLayerComment .ui-draggable-dragging .dot .nr {
    color: #000;
}

.modLayerComment .def .edit {
    position: absolute;
    top: 15px;
    left: 15px;
    display: none;
    z-index: 1;
}

.modLayerComment .def .ui-resizable-resizing {
    background-color: rgba(0,0,0,0.2);
}

.modLayerComment .def .edit textarea {
    background-color: #1d1e1e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(29, 30, 30)), to(rgb(46, 46, 47)));
    background-image: -webkit-linear-gradient(top, rgb(29, 30, 30), rgb(46, 46, 47));
    background-image: -moz-linear-gradient(top, rgb(29, 30, 30), rgb(46, 46, 47));
    background-image: -o-linear-gradient(top, rgb(29, 30, 30), rgb(46, 46, 47));
    background-image: -ms-linear-gradient(top, rgb(29, 30, 30), rgb(46, 46, 47));
    background-image: linear-gradient(top, rgb(29, 30, 30), rgb(46, 46, 47));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1d1e1e', EndColorStr='#2e2e2f');

    color: #FFF;
    display: block;
    padding: 15px 15px;
    font-size: 13px;
    font-family: helvetica, sans-serif;
    line-height: 1.5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    resize: none;
    overflow: hidden;
    border: 1px solid #000;
}

.modLayerComment .def .edit .delete {
    position: absolute;
    top: 0px;
    right: -25px;
    display: block;
    background: #FFF;
    color: #FFF;
    width: 22px;
    height: 19px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
    text-decoration: none;
}

.modLayerComment .def .edit .delete:hover {
    background: #EEE;
}

.modLayerComment .def .ui-resizable-resizing textarea {
    opacity: 0.2;
}

.modLayerComment .def .edit textarea:focus {
    outline: none;
}

.modLayerComment .ui-draggable-dragging .edit {
    display: none;
}

.modLayerComment .notice {
    
}