.modLayerComment {
    position: absolute;
    z-index: 2;
}

.modLayerComment .def {
    position: absolute;
}

.modLayerComment .def .dot {
    display: block;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    background-color: #060606;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(6, 6, 6)), to(rgb(43, 43, 43)));
    background-image: -webkit-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: -moz-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: -o-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: -ms-linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    background-image: linear-gradient(top, rgb(6, 6, 6), rgb(43, 43, 43));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#060606', EndColorStr='#2b2b2b');
    border: 2px solid #FFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    box-shadow: 0 0 3px #000;
}

.modLayerComment .def .dot-active {
    background: orangered;
}

.modLayerComment .ui-draggable-dragging .dot {
    background: rgba(255,255,255,0.5);
    border-color: black;
}

.modLayerComment .def-delete .dot {
    background-color: #ee1f18;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(238, 31, 24)), to(rgb(171, 20, 14)));
    background-image: -webkit-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -moz-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -o-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: -ms-linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    background-image: linear-gradient(top, rgb(238, 31, 24), rgb(171, 20, 14));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ee1f18', EndColorStr='#ab140e');
}

.modLayerComment .def .nr {
    display: block;
    position: absolute;
    width: 30px;
    text-align: center;
    top: 5px;
    left: 0px;
    text-shadow: 0 -1px 0 #00708d;
    color: #FFF;
    font-weight: bold;
    font-family: helvetica neue, sans-serif;
    text-align: center;
    z-index: 4;
}

.modLayerComment .def-delete .nr {
    display: none;
}

.modLayerComment .ui-draggable-dragging .dot .nr {
    color: #000;
}

.modLayerComment .def .edit {
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
    z-index: 1;
}

.modLayerComment .def .ui-resizable-resizing {
    background-color: rgba(0,0,0,0.2);
}

.modLayerComment .def .edit textarea {
    background-color: #212121;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(33, 33, 33)), to(rgb(50, 50, 50)));
    background-image: -webkit-linear-gradient(top, rgb(33, 33, 33), rgb(50, 50, 50));
    background-image: -moz-linear-gradient(top, rgb(33, 33, 33), rgb(50, 50, 50));
    background-image: -o-linear-gradient(top, rgb(33, 33, 33), rgb(50, 50, 50));
    background-image: -ms-linear-gradient(top, rgb(33, 33, 33), rgb(50, 50, 50));
    background-image: linear-gradient(top, rgb(33, 33, 33), rgb(50, 50, 50));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#212121', EndColorStr='#323232');
    color: #FFF;
    display: block;
    padding: 7px 10px;
    font-size: 14px;
    font-family: helvetica, sans-serif;
    line-height: 1.5;
    border-radius: 3px;
    resize: none;
    overflow: hidden;
    border: 2px solid #FFF;
    box-shadow: 0 0 3px #000;
}

.modLayerComment .def .ui-resizable-resizing textarea {
    opacity: 0.2;
}

.modLayerComment .def .edit textarea:focus {
    outline: none;
}

.modLayerComment .ui-draggable-dragging .edit {
    display: none;
}

.modLayerComment .notice {
    
}